{% extends 'base.html.twig' %}
{% block title %}
    403
{% endblock %}
{% block style %}
    <link href="assets/css/404.css" type="text/css">
{% endblock %}
{% block body %}
    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">403</span>
                    <div class="mb-4 lead">
                        You do not have access to this page!
                    </div>
                    <a href="{{ url('index') }}" class="mb-5 btn btn-dark">Back to Home !</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
