<div class="d-md-none d-lg-block bottom">
<footer class="footer" style="margin-bottom: 0;">
    <hr>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://kenolane-granger.com/"> kenolane-granger.com</a>
    </div>
</footer>
</div>
