{% extends 'base.html.twig' %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/banner.css') }}">{% endblock %}
{% block title %}Acceuil | Snowtricks{% endblock %}

{% block body %}
    <div class="banner">
        <img src="https://via.placeholder.com/1600x450" class="banner-img img img-fluid" alt="banner of the website">
        <div class="text">
        <h2>Snowtricks trops fort</h2>
        </div>
        <div class="arrow">
            <a href="#tricks" class="badge badge-pill badge-dark float-right">
            <i class="fas fa-arrow-down fa-5x"></i>
            </a>
        </div>
    </div>
    <!-- Start Tricks -->
    <span class="tricks-anchor" id="tricks"></span>
    <div class="container p-5">
        <div class="row">
           {{ include('index/_tricks_for.html.twig') }}
            <div class="container">
                <div class="row justify-content-center m-3">
                    <a href="#" id="loadMoreTrick"><i class="fas fa-plus-circle fa-3x"></i></a>
                    <a href="#" id="loadLessTrick"><i class="fas fa-minus-circle fa-3x"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid cup text-right">
        <a href="#tricks" class="badge badge-pill badge-dark float-right">
            <i class="fas fa-arrow-up fa-5x"></i>
        </a>
    </div>
    <!-- End Tricks -->
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script>
        $('#load').click(function () {
            $.ajax({
                url: "{{ url('index') }}",
                type: 'POST',
            })
        });
    </script>
    <script src=" {{ asset('assets/js/loadmore.js') }}">
    </script>
{% endblock %}
