.body
{
    min-height:100vh;
    display:flex;
    flex-direction:column;
}
.content
{
    flex-grow: 1;
}
.login {

        margin-left: auto;
        margin-right: auto;
    background: #5eb5e0;
}
a{
    text-decoration: none;
}

.card-list
{
    height: 525px;

}
