
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {{ include('include/base_block.html.twig') }}
    {% block head_css %}{% endblock %}
    {% block head_js %}{% endblock %}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/logo.png') }}">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    {{ include('include/nav.html.twig') }}
</header>
<div class="body">
    {% block flash %}
    {% endblock %}

    <div class="content">
        {% block body %}{% endblock %}
    </div>
</div>

{% block footer %} {{ include('include/footer.html.twig') }} {% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
