{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-center">Create new Post</h1>
    {{ include('post/_form.html.twig') }}

        <a href="{{ path('post_index') }}">back to list</a>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/tinyMce.js') }}"></script>
<script src="{{ asset('assets/js/prototype.js') }}">
</script>
{% endblock %}
