{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modify profil</h1>
        {{ include('user/_form.html.twig', {'button_label': 'Submit'}) }}

        <a href="{{ path('user_index') }}">Back at the profil</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
